.button {
  padding: 8px 20px;
  color: white;
  border: 2px solid white;
  background-color: #00a7e1;
  border-radius: 25px;
  font-size: 1.5rem;
  cursor: pointer;
  margin: 10px;
}
.button.active,
.button:hover {
  background-color: white;
  color: #00a7e1;
}
